

manifest {
    description = 'Nextflow pipeline to download fastq files via wget & fast'
    author = 'Ben Pastore pastore.28@osu.edu'
}

workDir = "/fs/scratch/PCON0160/"

params {

    help = false
    
}

profiles {

    local {
        executor = 'local'
    }

    cluster {
        process {
            executor = 'slurm'
            cpus = 15
            memory = 40.GB
            time = '4h'
            clusterOptions = "--account=PAS1473 --nodes=1 --ntasks-per-node=1 "
        }
    }
}